In [22]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("Admission_Predict.csv")

In [3]:
data.dropna(inplace = True)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 31.2 KB

In [5]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
X = data[['GRE Score', 'TOEFL Score', 'SOP', 'LOR ', 'CGPA']]
Y = data.iloc[:, -1]

In [7]:
X

     GRE Score  TOEFL Score  SOP  LOR   CGPA
0          337          118  4.5   4.5  9.65
1          324          107  4.0   4.5  8.87
2          316          104  3.0   3.5  8.00
3          322          110  3.5   2.5  8.67
4          314          103  2.0   3.0  8.21
..         ...          ...  ...   ...   ...
395        324          110  3.5   3.5  9.04
396        325          107  3.0   3.5  9.11
397        330          116  5.0   4.5  9.45
398        312          103  3.5   4.0  8.78
399        333          117  5.0   4.0  9.66

[400 rows x 5 columns]

In [8]:
Y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)

In [10]:
X_train

     GRE Score  TOEFL Score  SOP  LOR   CGPA
93         301           97  3.0   3.0  7.88
23         334          119  5.0   4.5  9.70
299        305          112  3.0   3.5  8.65
13         307          109  4.0   3.0  8.00
90         318          106  4.0   4.0  7.92
..         ...          ...  ...   ...   ...
255        307          110  4.0   4.5  8.37
72         321          111  5.0   5.0  9.45
396        325          107  3.0   3.5  9.11
235        326          111  4.5   4.0  9.23
37         300          105  1.0   2.0  7.80

[320 rows x 5 columns]

In [11]:
X_test

     GRE Score  TOEFL Score  SOP  LOR   CGPA
398        312          103  3.5   4.0  8.78
125        300          100  2.0   3.0  8.66
328        324          112  4.0   3.5  8.77
339        324          107  3.5   4.0  8.66
172        322          110  4.0   5.0  9.13
..         ...          ...  ...   ...   ...
347        299           94  1.0   1.0  7.34
41         316          105  2.5   2.5  8.20
180        300          104  3.5   3.0  8.16
132        309          105  3.5   3.5  8.56
224        305          105  3.0   2.0  8.23

[80 rows x 5 columns]

In [12]:
X_train.shape

(320, 5)

In [13]:
X_test.shape

(80, 5)

In [14]:
Y_train.shape

(320,)

In [15]:
Y_test.shape

(80,)

In [16]:
adm = LinearRegression()

In [17]:
adm.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
pred = adm.predict(X_test)

In [19]:
print(pred[:5])

[0.73721864 0.66534429 0.77757232 0.76034246 0.84632049]

In [20]:
print(Y_test[:5])

398    0.67
125    0.64
328    0.80
339    0.81
172    0.86
Name: Chance of Admit , dtype: float64

In [23]:
print("R2 Score: ", metrics.r2_score(pred, Y_test))

R2 Score:  0.7263215139437793

In [24]:
print("Mean Absolute Error:", metrics.mean_absolute_error(pred, Y_test))

Mean Absolute Error: 0.04603101665788077

In [25]:
print("Mean Squared Error: ", metrics.mean_squared_error(pred, Y_test))

Mean Squared Error:  0.004425353225643885

In [27]:
print("Root Mean Squared Error: ", np.sqrt(metrics.mean_squared_error(pred, Y_test)))

Root Mean Squared Error:  0.06652332843179064

In [25]:
res = adm.predict([[344, 120, 4.5, 4, 9.72]])
print(res)

[0.97241483]